* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.error-section {
  .error-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    img {
      width: 300px;
    }
    span {
      text-align: center;
      h1 {
        font-size: 32px;
      }
      .error-texts {
        margin: 12px 0;
        font-size: 20px;
      }
    }
  }
}

.gallery-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #ff6201;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}
