<div class="gallery-wrapper">
  <section
    class="error-section"
    role="alert"
    aria-live="assertive"
    *ngIf="error"
  >
    <div class="error-content-container">
      <figure>
        <img
          src="assets/images/cat_error.png"
          alt="Imagem de erro representando um gato dormindo"
        />
      </figure>
      <span
        ><h1>Oops!</h1>
        <p class="error-texts">Aconteceu um erro.</p>
        <p class="error-texts">Tente novamente mais tarde.</p>
      </span>
    </div>
  </section>
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner mode="indeterminate"> </mat-spinner>
  </div>
  <div class="grid-wrapper">
    <div *ngFor="let image of catsData; let i = index">
      <img [src]="image.url" alt="Cat image" />
    </div>
  </div>
  <!-- <button (click)="showForm()">Open Form</button> -->
</div>
