<div class="gallery-wrapper">
  <section
    class="error-section"
    role="alert"
    aria-live="assertive"
    *ngIf="error"
  >
    <div class="error-content-container">
      <figure>
        <img
          src="assets/images/cat_error.png"
          alt="Imagem de erro representando um gato dormindo"
        />
      </figure>
      <span
        ><h1>Oops!</h1>
        <p class="error-texts">Aconteceu um erro.</p>
        <p class="error-texts">Tente novamente mais tarde.</p>
      </span>
    </div>
  </section>
  <div *ngIf="isLoading" class="loading-container" aria-busy="true">
    <mat-spinner mode="indeterminate"> </mat-spinner>
    <span id="loading-description" class="visually-hidden"
      >Carregando conteúdo, por favor aguarde...</span
    >
  </div>
  <main class="grid-wrapper" role="main">
    <div *ngFor="let cat of catsData; let i = index" class="polaroid">
      <figure>
        <img [src]="cat.url" alt="Imagens de gatos disponíveis para adoção" />
      </figure>
      <div class="description">
        <figcaption>
          <p>Raça: {{ cat.breeds[0].name }}</p>
          <p>{{ cat.details }}</p>
        </figcaption>
        <figure>
          <img
            src="assets/images/black_paw.svg"
            alt="Imagens de gatos disponíveis para adoção"
          />
        </figure>
      </div>
    </div>
  </main>
  <!-- <button (click)="showForm()">Open Form</button> -->
</div>
